{% extends 'base.html' %}
{% load static %}
{% block title %}Ansible Webadmin{% endblock %}
{% block content %}
    <ul class="nav nav-tabs h4">
        <li class="active">
            <a href="#server" data-toggle="tab">主机</a>
        </li>
        <li>
            <a href="#servergroup" data-toggle="tab">主机组</a>
        </li>
    </ul>
        <form action="" method="post">
            {% csrf_token %}
            <div class="tab-content h4">
                <div class="tab-pane active fade in form-group" id="server">
                    <select class="form-control" name="ip">
                        <option value="">无</option>
                        {% for host in hosts %}
                            <option value="{{ host.ip_addr }}">
                                {{ host.hostname }}:{{ host.ip_addr }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="tab-pane fade form-group" id="servergroup">
                    <select class="form-control" name="group">
                        <option value="">无</option>
                        {% for group in groups %}
                            <option value="{{ group.groupname }}">
                                {{ group.groupname }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
{% endblock %}
