* {
    font-size: 16pt;
    font-family: "Times New Roman";
}

hr {
    color: red;
}

h1.c1 {
    text-align: center;
}

.c1 {
    color: blue;
    font-weight: bold;
}

.warning {
    color: darkgreen;
    background: darkorange;
}

.important {
    color: blue;
    font-weight: bold;
}

#i1 {
    text-align: right;
}

.c1, .important, .warning {
    font-size: 20pt;
}

a:link {
    color: purple;
}

a:hover {
    font-weight: bold;
    font-size: 18pt;
}

a:visited {
    color: darkgray;
}

h1 {
    /*background: rgb(0, 0, 0);*/
    /*background: #aa2299;*/
    /*background: #a29;*/
    background: #8814aa;
}




