{% extends 'base.html' %}
{% load static %}
{% block title %}Ansible Webadmin{% endblock %}
{% block content %}
<div class="row text-center h4" style="margin-bottom: 50px">
    <div class="col-sm-3">
        <a href="{% url 'polls_index' %}" target="_blank">
            <img src="{% static 'imgs/linux.jpg' %}" width="150px"><br>
            主机信息
        </a>
    </div>
    <div class="col-sm-3">
        <a href="{% url 'add_hosts' %}" target="_blank">
            <img src="{% static 'imgs/linux.jpg' %}" width="150px"><br>
            添加主机
        </a>
    </div>
    <div class="col-sm-3">
        <a href="{% url 'add_modules' %}" target="_blank">
            <img src="{% static 'imgs/linux.jpg' %}" width="150px"><br>
            添加模块
        </a>
    </div>
    <div class="col-sm-3">
        <a href="{% url 'tasks' %}" target="_blank">
            <img src="{% static 'imgs/linux.jpg' %}" width="150px"><br>
            执行任务
        </a>
    </div>
</div>
{% endblock %}