{% extends 'base.html' %}
{% load static %}
{% block title %}执行任务{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" style="margin-top: 8px">
        <li class="active"><a href="#server" data-toggle="tab">主机</a></li>
        <li><a href="#servers" data-toggle="tab">主机组</a></li>
    </ul>
    <div class="tab-content" style="padding: 5px;">
        <div class="tab-pane active fade in" id="server">主机</div>
        <div class="tab-pane fade" id="servers">主机组</div>
    </div>
{% endblock %}

