{% extends 'base.html' %}
{% load static %}
{% block title %}添加主机/组{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <form action="" method="post" class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <label>主机组：</label>
                <input type="text" class="form-control" name="group">
            </div>
            <div class="form-group">
                <label>主机：</label>
                <input type="text" class="form-control" name="host">
            </div>
            <div class="form-group">
                <label>IP地址：</label>
                <input type="text" class="form-control" name="ip">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="提交">
            </div>
        </form>
    </div>
    <hr>
    <div class="col-sm-12">
        <table class="table table-hover table-striped table-bordered">
            <thead class="bg-primary text-center">
                <tr>
                    <td>主机组</td>
                    <td>主机</td>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.groupname }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for host in group.host_set.all %}
                                    <li>{{ host.hostname }}: {{ host.ipaddr }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}