{% extends 'base.html' %}
{% load static %}
{% block title %}执行任务{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <form action="">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#server" data-toggle="tab">主机</a></li>
                <li><a href="#servergroup" data-toggle="tab">主机组</a></li>
            </ul>
            <div class="tab-content" style="margin-top: 5px;">
                <div id="server" class="tab-pane active fade in">
                    <div class="form-group">
                        <select name="host" class="form-control">
                            <option value="">无</option>
                        </select>
                    </div>
                </div>
                <div id="servergroup" class="tab-pane fade">
                    <div class="form-group">
                        <select name="group" class="form-control">
                            <option value="">无</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}