{% extends 'base.html' %}
{% load static %}
{% block title %}执行任务{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <form action="">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#server" data-toggle="tab">主机</a></li>
                <li><a href="#servergroup" data-toggle="tab">主机组</a></li>
            </ul>
            <div class="tab-content" style="margin-top: 5px;">
                <div id="server" class="tab-pane active fade in">
                    <div class="form-group">
                        <select name="host" class="form-control">
                            <option value="">无</option>
                        </select>
                    </div>
                </div>
                <div id="servergroup" class="tab-pane fade">
                    <div class="form-group">
                        <select name="group" class="form-control">
                            <option value="">无</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="col-sm-12">
        <table class="table table-hover table-striped table-bordered">
            <thead class="bg-primary text-center">
                <tr>
                    <td>模块</td>
                    <td>参数</td>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    <tr>
                        <td>{{ module.module_name }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for arg in module.args_set.all %}
                                    <li>{{ arg.arg_text }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}